In [1]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)

In [2]:
def get_one_hot(arr, entity1, entity2):
    lst = list()
    for i in arr:
        if i == entity1:
            lst.append('1')
        elif i == entity2:
            lst.append('0')
    return lst

In [16]:
robot = get_one_hot(lst, 'robot', 'human')
human = get_one_hot(lst, 'human', 'robot')
data = pd.DataFrame({'robot': robot,'human': human})

In [17]:
data.head()

  robot human
0     1     0
1     1     0
2     0     1
3     1     0
4     1     0